/* Element Selector */
h1 {
    color: brown;
    border: 2px solid black;
}

/* # - ID Selector 
    - use ID for only Unique Fields 
*/
#title {
    color: purple;
}

/* Class Selector */
.title-one {
    color: black;
}

.title-second {
    color: chartreuse;
}

.paragraph {
    border: 2px solid red;
    width: 150px;
    height: 150px;
    /* visibility: hidden; */
    display: none;
}

.heading-div{
    border: 2px solid red;
    display: flex;
}