body {
  background-color: #e6e9fb;
}

.outer-box {
  text-align: center;
  background-color: #ffffff;
  width: 50%;
  margin: auto;
  margin-top: 6.5%;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 10px 10px #f2f4fd;
}

.main-heading {
  font-size: 30px;
  font-weight: 500;
  font-family: "Merriweather", serif;
  margin-bottom: 0px;
}

.other-content {
  font-size: 20px;
  font-weight: 300;
  font-family: "Noto Sans", sans-serif;
  margin-top: 0px;
}

#email-text-field {
  width: 450px;
  height: 40px;
  border: none;
  padding-left: 15px;
  background-color: #e6e9fb;
  font-size: 16px;
  color: #111827;
  background-color: #fafaff;
  opacity: 0.6;
  outline: none;
  border-radius: 6px;
  border: 1px solid #e2e4f1;
  font-family: "Noto Sans", sans-serif;
}

.subscribe-button {
  background-color: #111827;
  border: none;
  color: #e5e5e7;
  border-radius: 6px;
  height: 40px;
  width: 150px;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  margin-left: 15px;
  font-weight: 600;
}
.terms-and-conditions {
  display: flex;

  margin-top: -15px;
}

.marketing-terms {
  margin-right: 10%;
}
